<div class="row">
    <div class="col-6">
        <h2  [ngStyle]="{'color' : isAuthorized ? 'red' : 'green' }"  >Angular Directives</h2>
        <br>
        <button class="btn btn-primary" [ngClass]="{'ower' : isAuthorized}"
        
        (click)="onClick()">
            Click Me
        </button>
        <br>
        <br>
        <!-- <button class="btn btn-danger" (click)="onNavigate()">
            Back to Binding Page
        </button> -->

    </div>
    <div class="col-6">
        <ul class="list-group" *ngIf="isAuthorized">
            <li class="list-group-item" *ngFor="let mentor of mentors; let i = index"> {{ i + 1 }}</li>
        </ul>
    </div>
</div>
