<div class="row">
    <div class="col-6">
            <h2>{{ titles }}</h2>
            <button class="btn btn-primary" (click)="onClick()" [disabled]="isDisabled">Click Me</button>

    </div>
    <div class="col-6">
            
        <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="inputString">
            </div>
            <h2>{{ inputString }}</h2>

        <!-- <div class="input-group mb-3">
            <input #inputValue type="text" class="form-control" [value]="inputString"  >
            <button class="btn btn-primary" (click)="onSubmit(inputValue.value)">Submit</button>
        </div>
        <h2>{{ inputString }}</h2> -->
    </div>
</div>

