<h2>Angular Template-Driven Form Example</h2>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div>
        <label for="name" class="form-label" >Name:</label>
        <input class="form-control" type="text" id="name" name="name" ngModel required />
      </div>
      <div>
        <label for="email" class="form-label">Email:</label>
        <input class="form-control" type="email" id="email" name="email" ngModel required email/>
      </div>
      <div>
        <label for="message" class="form-label">Message:</label>
        <textarea class="form-control" id="message" name="message" ngModel></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-3" [disabled]="!myForm.valid">Submit</button>
</form>
